body {
    margin: 0;
    overflow: hidden; /* 画面外に出ないようにする */
    background-color: black;
  }

  .logo {
    position: absolute;
    width: 20vw;
  }

.gaming{
    font-size: 8vw;
    text-align: center;
    color: transparent;             /*文字を透明にする*/
    background-clip: text;          /*背景を文字で切り抜く*/
    background-image: linear-gradient(45deg,
        red,
        orange,
        yellow,
        green,
        aqua,
        blue,
        purple);
    background-size: 1200%; 
    animation: 1s linear 0s infinite alternate slide;    /* slideアニメーションを4秒で往復の線形移動を無限回行う */
}

@keyframes slide { 
    from { background-position: 0% 0%; } 
    to { background-position: 100% 0%; }    /* 右から左へ移動するアニメーション */
}
